<!DOCTYPE HTML>
<html ng-app="heybill">
<head>
    <title>HeyBill</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="assets/elastislide/css/elastislide.css"/>
    <link rel="stylesheet" href="assets/elastislide/css/custom.css"/>
    <link rel="stylesheet" href="assets/css/notifIt.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <script src="assets/js/modernizr.custom.17475.js"></script>
</head>
<body ng-controller="mainController">

<section id="header">
    <div class="inner">
        <div class="profile"></div>
        <h1>박선배</h1>
        <ul class="actions">
            <li><a href="#jobs" class="button scrolly">새로운 <span class="badge badge-job">{{cnt}}</span> 개의 일감이
                있습니다</a></li>
        </ul>
    </div>
</section>

<section id="jobs" class="main style1 special">
    <div class="container">
        <header class="major">
            <h2>새로운 일감</h2>
        </header>
    </div>
</section>

<section class="demo-3">
    <ul id="carousel" class="elastislide-list">
        <li ng-repeat="bill in bills" class="click" ng-class="{selected: selected.id === bill.id}" ng-click="detail(bill)">
            <div class="image-container">
                <a><img ng-src="/uploaded/images/{{bill.id}}"></a>
                <div class="after" ng-class="{done: bill.status === 'P'}"></div>
            </div>
        </li>
    </ul>
</section>

<section class="detail" ng-show="clicked">
    <div class="container">
        <div class="col-sm-4 pull-left">
            <img class="img-responsive" ng-src="/uploaded/images/{{selected.id}}" style="height: 400px;"/>
        </div>

        <div class="col-sm-offset-1 col-sm-7 pull-right">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="vendor" class="col-sm-3 control-label">업체명</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="vendor" placeholder="업체명" ng-model="selected.vendor">
                    </div>
                </div>

                <div class="form-group">
                    <label for="payMethod" class="col-sm-3 control-label">결제방법</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="payMethod" placeholder="결제방법" ng-model="selected.payMethod">
                    </div>
                </div>

                <div class="form-group">
                    <label for="datetimepicker1" class="col-sm-3 control-label">결제시간</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="datetimepicker1" placeholder="결제시간">
                    </div>
                </div>

                <div class="form-group">
                    <label for="category" class="col-sm-3 control-label">분류</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="category" placeholder="분류" ng-model="selected.category">
                    </div>
                </div>

                <br/>

                <table class="table-responsive">
                    <tr>
                        <th><span class="glyphicon glyphicon-plus-sign click" ng-click="addItem()"></span></th>
                        <th>상품명</th>
                        <th>단가</th>
                        <th>수량</th>
                        <th>금액</th>
                    </tr>
                    <tr ng-repeat="item in selected.items">
                        <td><span class="glyphicon glyphicon-minus-sign click" ng-click="removeItem($index)"></span></td>
                        <td><input type="text" class="form-control" placeholder="상품명" ng-model="item.name"></td>
                        <td><input type="number" class="form-control" ng-model="item.price" step="1000" style="text-align: right;"></td>
                        <td><input type="number" class="form-control" ng-model="item.qty" style="text-align: right;"></td>
                        <td style="padding-right: 0px;"><input type="number" class="form-control" value="{{item.price * item.qty}}" style="text-align: right;" readonly></td>
                    </tr>
                    <tfoot ng-show="selected.items && selected.items.length !== 0">
                        <tr style="border-top: solid 2px #ccc;">
                            <td colspan="4" style="text-align: center;">합계</td>
                            <td style="text-align: right;">{{calcPayAmount(selected && selected.items ? selected.items : [])}}</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="pull-right">
                    <button type="button" class="btn btn-lg btn-done" ng-click="submit(selected)">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 완료
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Footer -->
<section id="footer">
    <img src="images/typography.png" style="height: 100px; opacity: 0.6; margin-bottom: 20px;">
    <h4 style="opacity: 0.6;">영수증 정리와 분석을 쉽고 빠르게!</h4>
</section>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/moment.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquerypp.custom.js"></script>
<script src="assets/js/jquery.elastislide.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/notifIt.min.js"></script>
<script src="assets/js/main.js"></script>

<script>
    angular.module('heybill', []).controller('mainController', function ($scope, $http) {
        $http.get('/bills').then(function (response) {
            $scope.bills = response.data;
            $scope.cnt = countUnprocessedBills($scope.bills);
            console.log($scope.bills);
        });

        $scope.detail = function (bill) {
            $scope.clicked = true;
            $scope.selected = bill;

            if ($scope.selected.transactionTime) {
                $('#datetimepicker1').data('DateTimePicker').date(new Date($scope.selected.transactionTime));
            } else {
                $('#datetimepicker1').data('DateTimePicker').clear();
            }

            if (!$scope.selected.items || $scope.selected.items.length === 0) {
                $scope.selected.items = [{
                    price: 0,
                    qty: 1
                }];
            }

            $('#carousel').addClass('clicked');
            console.log($scope.selected);
        };

        $scope.addItem = function () {
            $scope.selected.items.push({
                price: 0,
                qty: 1
            });
        };

        $scope.removeItem = function (index) {
            $scope.selected.items.splice(index, 1);
        };

        $scope.calcPayAmount = function (items) {
            var sum = 0;
            for (var i = 0, len = items.length; i < len; i++) {
                sum += items[i].price * items[i].qty;
            }
            return sum;
        };

        $scope.submit = function (bill) {
            var moment = $('#datetimepicker1').data('DateTimePicker').date();
            bill.transactionTime = moment && moment.valueOf();
            console.log(bill);

            $http.post('/bills/' + bill.id + '/info', bill).then(function (response) {
                notif({
                    type: 'success',
                    msg: '입력이 완료되었습니다.',
                    position: 'right',
                    opacity: 0.8,
                    fade: true,
                    width: 300,
                    timeout: 2000
                });
                bill.status = 'P';

                $scope.cnt = countUnprocessedBills($scope.bills);
                console.log(response);
            });
        };

        function countUnprocessedBills(bills) {
            var cnt = 0;
            for (var i = 0; i < bills.length; i++) {
                if (bills[i].status === 'N') {
                    cnt++;
                }
            }
            return cnt;
        };
    });

    $(function () {
        setTimeout(function () {
            $('#carousel').elastislide();
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY/MM/DD hh:mm:ss'
            });
        }, 300);
    });
</script>

</body>
</html>