a:hover, a:focus {
	text-decoration:none !important;
}

.badge-job {
	background: rgba(255, 255, 255, 0.4);
	margin-bottom: 4px;
}

.profile {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	background: url(../../images/profile.jpg) no-repeat center;
	box-shadow: 0 0 50px rgba(255, 255, 255, .8);
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#carousel .image-container {
	position: relative;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#carousel .image-container img {
	height: 200px;
	opacity: 0.2;
}

#carousel .after {
	position: absolute;
	display: block;
	top: 300px;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(images/pencil.png) no-repeat center;
	background-size: 40%;
	opacity: 0.4;
	transition: all 0.3s ease-in-out;
}

#carousel .after.done {
	background: url(images/check.png) no-repeat center;
	background-size: 40%;
	opacity: 0.8;
	top: 0;
}

#carousel li:hover img,
#carousel li.selected img {
	opacity: 1.0;
	transition: all 0.3s ease-in-out;
}

#carousel .image-container:hover .after,
#carousel li.selected .after {
	top: 0;
	opacity: 1.0;
	transition: all 0.3s ease-in-out;
}

.style1 {
	padding: 3em 0 2em 0;
}

header.major:after {
	margin-top: 0;
}

.detail {
	padding: 2em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.detail input[readonly] {
	background-color: white;
}

.detail input {
	padding-right: 2px !important;
}

.detail img {
	box-shadow: 0 0 30px rgba(0, 0, 0, .4);
}

.detail table {
	margin-bottom: 30px;
}

.detail table td {
	padding: 10px 20px 10px 0;
}

.form-horizontal .control-label {
	padding-top: 2px !important;
}

.detail .btn {
	height: inherit;
}

.detail .btn-done {
	background-color: #1abc9c;
	color: white !important;
}

.detail .btn-deny {
	background-color: #e74c3c;
	color: white !important;
}

.glyphicon-plus-sign {
	color: #2ecc71;
}

.glyphicon-minus-sign {
	color: #e74c3c;
}

.click {
	cursor: pointer;
}